{{ define "main" }}

{{- $page := . }}

<header>
  <nav>
    <a href="/" class="header-item">     
      <!-- {{ partial "animation.html" (dict "size" "240") }} -->
      <img src="/android-chrome-192x192.png" width="80" alt="Cluster 8 logo" />
    </a>
    {{- with index site.Menus "main" }}
      {{- range . }}
        <a class="header-item" href="{{ .URL }}">
          {{ .Name }}
        </a>  
      {{- end }}
    {{- end }}
  </nav>
</header>

{{- end }}