{{ define "main" }}

  <header>
    <nav>
      <a href="/" class="header-item">     
        <!-- {{ partial "animation.html" (dict "size" "240") }} -->
        <img src="/android-chrome-192x192.png" width="80" alt="Cluster 8 logo" />
      </a>
      {{ range .Pages }}
        <a class="header-item" href="{{ .RelPermalink }}">
          {{ .LinkTitle }}
        </a>
      {{ end }}
    </nav>
  </header>
  
  <!-- {{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
  
  <!-- <h1>{{ .Title }}</h1> -->
  <!-- {{ .Content }}
  {{ range .Pages }}
    <a href="{{ .RelPermalink }}">
      <h2>{{ .LinkTitle }}</h2>
      <p>{{ .Summary }}...</p>
    </a>
  {{ end }} -->
{{ end }}
