<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
    <!-- Include the script that enables Netlify Identity on this page. -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
    <script>
      CMS.registerEditorComponent({
        id: "imagerow",
        label: "Image Row",
        fields: [{
                name: "images",
                label: "Images",
                widget: "list",
                allow_add: true,
                field: {label: "Image", name: "image", widget: "image"}
                }
        ],
        pattern: /{{< imgrow >}}\n((?:  {{< img src\=\"(?:[\w\/\.\:\%]+)\" alt\=\"(?:[\w\/\.\:\% !]*)\" >}}\n)+){{< \/imgrow >}}/ms,
        fromBlock: function(match) {
            console.log(match);
            var newString = match[1];
            var matches = newString.matchAll(/{{< img src\=\"(?<src>[\w\/\.\:\%]+)\" alt\=\"(?<alt>[\w\/\.\:\% !]*)\" >}}/g);
            var images = [...matches].map(match => match.groups.src);            
            console.log(images);
            return {
                images: images
            };
        },
        toBlock: function(obj) {
          if (obj.images === undefined) {
              return '';
            } else {
              var imgs = obj.images.map(url => `  {{< img src="${url}" alt="Description must be added here ASAP!" >}}`).join("\n");
              return `{{< imgrow >}}\n${imgs}\n{{< /imgrow >}}`;
            }    
        },
        toPreview: function(obj) {
            return 'preview'
        },
    });
    </script>    
    <script>
      CMS.registerEditorComponent({
        id: "vimeo",
        label: "Vimeo",
        fields: [{
                name: "id",
                label: "Video ID (example: 865464188)",
                widget: "string"
                }
        ],
        pattern: /{{< vimeo ([0-9]+) >}}/ms,
        fromBlock: function(match) {
            console.log(match);
            return {
                id: match[1]
            };
        },
        toBlock: function(obj) {
          if (obj.id === undefined) {
              return '';
            } else {              
              return `{{< vimeo ${obj.id} >}}`;
            }    
        },
        toPreview: function(obj) {
            return 'preview'
        },
    });
    </script>
  </body>
</html>