* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

header {
  margin-top: 3rem;
}

main {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

a {
  color: #000000;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
.header-item {
  font-family: 'Mirza', serif;
  padding-bottom: 1rem;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  padding-bottom: 2rem;
  max-width: 80%;
}

main p img {
  max-width: 100%;
}

nav {
  width: 100%;
  height: 80vh;
  /* background-color: #444; */
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  align-items: center;
  /* position: fixed; */
  top: 10vh;
  left: 0;
  /* overflow: hidden; */
}

nav a {
  text-transform: none;
  font-size: clamp(40px, calc(16px + 8vw), 90px);
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

div#header-single {
  width: 100%;
  /* height: 20vh; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

div#header-single a {
  padding-right: 4vw;
}

div#header-single h1 {
  font-size: clamp(40px, calc(16px + 8vw), 90px);
}

.imgrow {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-start;
  flex: 0.8;
  gap: 30px;
  margin-bottom: 30px;
}

.imgrow img {
  flex-grow: 1;
  width: 30%;
  height: 100%;
}